@charset "UTF-8";

body, html
{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	
}
@media screen and (max-width: 1024px)
{
	.banner h1
	{

		 font-size: 0.8em;
		margin-bottom: 15px;
		width: auto;
		position: relative;
		
		
	}

	.menu a
	{
		font-size: 0.7em;

	}
	#conteneur h2
	{
		word-wrap: normal;
	}

}

.container-fluid
{
	padding: 0;
}
a, a:hover
{
	text-decoration: none;
}
/* header */

.header
{
	background-color: rgb(87, 80, 80);
	height: 70px;
	line-height: 70px;
	


}
.menu
{
	float: right;

}
.menu a
{
	color: white;
	margin-right: 50px;
}
.menu a:hover
{
	color: #28B8D1;
}
.logo
{
	margin: 40px;
	color: white;
	text-decoration: none;
}

/* bannière */

.banner
{
	width: 100%;
	max-width: 100%;
	position: relative;
}
.ban
{
	width: 100%;
	max-width: 100%;
	
}
.ban img
{
	width: 100%;
	max-width: 100%;
	position: relative;
	
}
.text-banner
{
	color: white;
	position: absolute;
	top: 40%;
	font-size: 1.9em;
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;


	
}

/* a propos */
.rubrique 
{
	
	text-align: center;


}
.rubrique a
{
	color: white;
	margin-right: 50px;
	font-size: 1.2em;
}
.rubrique a:hover
{
	color: #28B8D1;
}
.barre
{
	background-color: rgb(87, 80, 80);
	height: 30px;	
	position: relative;
	bottom: 4px;


}


/* portfolio */

.bandeau h2
{
	
	background: linear-gradient(100deg, #1DB1DD 60%, #23D0D2 70%);
	border-radius: 10px 10px 0px 0px;
	width: 349px;
	position: relative;
	bottom: 21px;
	

	
	

}
.ProfilBox
{
	background-color: #eeeeee;
	border: 0.5px black solid;
	border-radius: 10px;
	font-size: 1.1em;
	width: 350px;
	text-align: center;
	margin-left: 40%;
	height: 330px;
	margin-top: 30px;
	
}


td
{
	text-align: right;
	
}
.formulaireINS
{
	margin-left: 5px;
	margin-top: 20px;

}
.valider
{
	margin-right: -75px;
}

.formulaireCON
{
	margin-left: -285px;
	margin-top: 20px;
}
.bouton
{
	margin-left: 300px;
	position: relative;
	left: 100px;

}
.formulaireEDIT
{
	margin-left: 700px;
}
.boutonEDIT
{
	margin-left: 300px;
	position: relative;
	right: 50px;
}
